.banner {
    text-align: center;
    font-size: 30px;
}

.banner h1 {
    font-weight: bolder;
    color: rgb(61, 61, 61);
    margin: 0;
}

.banner h3 {
    margin: 0;
    color: rgb(124, 124, 124);
    margin-bottom: 3rem;
}